.hero-content__list {
  padding: 0;
  margin: 0;
  display: flex;
}

.hero-content__item {
  list-style: none;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.hero-content__img {
  fill: rgba(51, 50, 61, 1);
}

